// TODO 变量抽离，现在随便写的

$themes: (

    light: (
        //字体
        fontColor: #353535,

        baseBgdColor: #f4f4f4,
        paneContentBgdColor:#333333,

    ),
    
    dark: (
        //字体
        fontColor: #dddddd,
        
        //背景
        baseBgdColor: #111111,
        paneContentBgdColor:#333333,
    
    )
);

