@font-face {
  font-family: "f-iconfont"; /* Project id 4242393 */
  src: url('iconfont.woff2?t=1694432643587') format('woff2'),
       url('iconfont.woff?t=1694432643587') format('woff'),
       url('iconfont.ttf?t=1694432643587') format('truetype'),
       url('iconfont.svg?t=1694432643587#f-iconfont') format('svg');
}

.f-iconfont {
  font-family: "f-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.f-zhaoxiangji:before {
  content: "\e600";
}

.f-iconfont22tishi:before {
  content: "\e68a";
}

.f-ic_transform:before {
  content: "\ea3d";
}

.f-sousuo:before {
  content: "\e8ba";
}

.f-daochu:before {
  content: "\e6df";
}

.f-tubiao-zhexiantu:before {
  content: "\eb96";
}

.f-xingzhuang-tuoyuanxing:before {
  content: "\eb99";
}

.f-xingzhuang-sanjiaoxing:before {
  content: "\eb9a";
}

.f-ziyuan:before {
  content: "\e610";
}

.f-shangchuantupian:before {
  content: "\e6e9";
}

.f-yanjing_yincang:before {
  content: "\eb45";
}

.f-yanjing_xianshi:before {
  content: "\eb46";
}

.f-tupian_o:before {
  content: "\eb4f";
}

.f-suoding_o:before {
  content: "\eb50";
}

.f-rulers:before {
  content: "\e70a";
}

.f-yanse:before {
  content: "\e678";
}

.f-jietu:before {
  content: "\e795";
}

.f-xuanzegongju:before {
  content: "\e797";
}

.f-xiangji:before {
  content: "\e614";
}

.f-d-rotation:before {
  content: "\e87b";
}

.f-transform:before {
  content: "\ebe5";
}

.f-24gl-select:before {
  content: "\e9bc";
}

.f-xingzhuang:before {
  content: "\e82b";
}

.f-Save:before {
  content: "\e70e";
}

.f-xuanzhuan:before {
  content: "\e6e2";
}

.f-_collection:before {
  content: "\e60c";
}

.f-move:before {
  content: "\e616";
}

.f-guolvqi:before {
  content: "\e627";
}

.f-jiandanmoxing:before {
  content: "\e639";
}

.f-combination:before {
  content: "\e67d";
}

.f-zu:before {
  content: "\e617";
}

.f-daochu1:before {
  content: "\e666";
}

.f-ruler:before {
  content: "\e630";
}

.f-moxingfenlei:before {
  content: "\e60e";
}

.f-caizhi:before {
  content: "\e647";
}

.f-icon_2d:before {
  content: "\e679";
}

.f-shitupouqiehe:before {
  content: "\e654";
}

.f-shituxiankuang:before {
  content: "\e655";
}

.f-shitudianduidian:before {
  content: "\e658";
}

.f-shitushidianguanli:before {
  content: "\e65a";
}

.f-shitutianjiaduanmian:before {
  content: "\e65b";
}

.f-shitutoushi:before {
  content: "\e662";
}

.f-suofang:before {
  content: "\e60d";
}

.f-yinqing_xuanzhuanshitu:before {
  content: "\e659";
}

.f-jietu1:before {
  content: "\e636";
}

.f-kuangxuan1:before {
  content: "\e609";
}

.f-xuanze2:before {
  content: "\e634";
}

.f-suofang1:before {
  content: "\e60f";
}

.f-a-3D:before {
  content: "\e632";
}

.f-daoru:before {
  content: "\ee34";
}

.f-a-3D1:before {
  content: "\e621";
}

.f-A-moxingku:before {
  content: "\e611";
}

.f-B-xieshitu:before {
  content: "\e613";
}

.f-a-ziyuan62:before {
  content: "\e601";
}

.f-moxing2:before {
  content: "\e860";
}

.f--_suofang:before {
  content: "\e6d0";
}

